$color-background: #D19036

$heading-font-family: "ComicNeue"
$body-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif

// $header-color: white
$header-background: transparent
$header-sticky-background: transparent
$header-border-bottom-width: 0

// $hero-background-color: #CA2F2A
$hero-background-color: transparent
$footer-background-color: transparent
// $footer-background-color: #CA2F2A
